{
  "presets": [
    "next/babel",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": "> 0.5%, last 2 versions, Firefox ESR, not dead"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    ["styled-components", { "ssr": true }]
  ]
}
