<p>
Hey there,
</p>
<p>
Your free seven-pack of reBloom is on the way! Thanks again for the feedback that you left us. We love to hear from our customers and it’s really helpful to others to hear about how you enjoyed our products. 
</p>
<p>
<a href="https://www.amazon.com/review/review-your-purchases">If you wouldn’t mind sharing your feedback by clicking this link, we would really appreciate it!</a>
</p>
<p>
To make this as easy as possible for you, we’ve included your feedback below.
</p>
 <p style="margin: 0 auto; width: 100%; text-align: center; font-style: italic;">
  <%= comment %>
</p>
<p>
Thanks again!
</p>
<p>
Sweet dreams,</p>
<p>
The reBloom Team</p>